/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.main {
  height: 100%;
  width: 800px;
  margin: 0 auto;
}
.card {
  padding: 50px 15px;
}

.card__title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 25px;
  text-align: center;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__comments {
  margin-top: 25px;
}

.card__all-comments{
  padding: 0 40px;
}

.comment {
  font-size: 20px;
  margin-bottom: 25px;
  border: 1px solid grey;
  padding: 10px;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__user-name {
  font-weight: bold;
}

.comment__date {
  color: grey;
}

.comment__text {
  margin-top: 15px;
}

.comment__form-button{
  margin-top: 25px;
  text-align: end;
}

.comment__delete-button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 60, 60);
}
.comment__delete-button:hover{
  background-color: rgb(233, 0, 0);
}


.card__add-comment{
  border-top: 2px solid grey;
}

.card__no-comments{
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.form {
  padding: 10px 25px;
}

.card__form {
  width: 100%;
}

.form__item{
  margin-bottom: 20px;
}

.form__label{
  font-size: 18px;
}

.form__input{
  border: 1px solid grey;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
}

.form__input:focus{
  box-shadow: 0 0 3px grey;
} 

textarea.form__input{
  min-height: 60px;
  resize: vertical;
}

.form__button{
  font-size: 18px;
  border-radius: 20px;
  padding: 15px 25px;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.form__button:hover{
  background-color: rgb(233, 233, 233);
}

.no-error{
  display: none;
}

.error-message{
  display: block;
  margin-top: 5px;
  font-size: 16px;
  color: red;
}

.error-input{
  box-shadow: 0 0 3px red;
}

[v-cloak]{
  display: none;
}
.checkbox__input{
  display: none;
}
.checkbox__input:checked + .checkbox__label::after{
  transform: scale(1);
}
.checkbox__label{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before{
  content: "";
  flex: 0 0 24px;
  height: 24px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox__label::after{
  transition: all 0.2s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #99a681;
  border-radius: 4px;
  transform: scale(0);
}